* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #555;
    background-color: rgb(247, 250, 252);
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1;
    max-width: 1200px;
    max-height: 1200vh;
    margin: 0 auto;
  }


/*=====login page======== */

.login-container {
  max-width: 700px;
  background: linear-gradient(to bottom, rgba(0, 43, 161, 1), transparent);
  display: grid;
  gap: 35px;
  padding:60px ;
  border: 1px solid blue;
  justify-self: center;
  color: #111;
  margin-top: 40px;
  
}
.login-content {
  display: grid;
  gap: 40px;
}
.login-content h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.login-box {
  display: grid;
  gap: 30px;
}
.login-text{
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
}
.login-btn {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(0, 43, 161, 0.747);
  color: #fff;
  cursor: pointer;
}
.login-btn:hover{
  background-color: rgb(58, 100, 216);
}


/* =======Creating Admin========= */


.register-container {
  padding: 40px 100px 40px 100px;
  background-color: #e5e5e5;
  border: 1px solid rgb(241, 236, 236);
  display: grid;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 100px;
}
.register-content {
  display: grid;
  gap: 40px;
}
.register-content h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.register-box {
  display: grid;
  gap: 30px;
}
.text-box {
  padding: 20px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
}

.btn {
  display: grid;
  gap: 20px;
}
.register-btn {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: #3d3d3d;
  color: #fff;
}






  .tabs{
    margin: 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border: 1px solid black;
  }
  .tabs .tab{
    background-color: #eee;
    padding: 10px 15px;
    transition: all .35s;
    cursor: pointer;
  
  }
  .tabs .tab.active-tab{
    color: #fff;
    background-color: #111;
  }

  /* =======Dashboard========= */
  .dashboard{
    display: flex;
    /* max-width: 100%;
    max-height: 100%; */

  }
  .dashboard-bar{
    position: fixed;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    height: 100vh;
    width: 250px;
  }
  .dashboard-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    display:block;
    background-color: rgba(0, 43, 161, 0.747);
    /* border: 5px solid #0854ec; */
    margin: 8px;
    /* border-radius: 8px; */
    box-shadow: 3px 3px 6px #011532;
  }
  .dashboard-content{
    border: 2px solid yellowgreen;
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1;
  }


  /* =====Media Query=====
  @media screen and (max-width:800px) {
    .register-container{
      width: 100%;
    }
  }
  @media screen and (max-width:300px) {
    .register-container{
      width: 100%;
    }
  } */